.about-area{
  padding: 20px 0 20px 0;

  &__subtext {
    font-size: 16px;
    color: #64676c;
    line-height: 1.6;
    margin-bottom: 0px;
    padding-right: 50px;
    @media #{$lg}{
        padding-right: 20px;
    }
    @media #{$sm}{
        padding-right: 0px;
    }
    @media #{$xs}{
        padding-right: 0px;
    }
  }
    // left content
    .about-caption{
        @media #{$xs}{
            margin-bottom: 35px;
        }
         p{
            font-size: 16px;
            color: #64676c;
            line-height: 1.6;
            margin-bottom: 40px;
            padding-right: 50px;
            @media #{$lg}{
                padding-right: 20px;
            }
            @media #{$sm}{
                padding-right: 0px;
            }
            @media #{$xs}{
                padding-right: 0px;
            }
        }
      
    }
    // Right img
    .about-img{
        position: relative;
      
        .about-font-img{
            position: relative;
            z-index: 1;
            img {
              max-width: 28vw;
                @media #{$lg}{
                    width: 90%;
                }
                @media #{$tablet_device} {
                  max-width: 500px;
                } 
                @media #{$xs}{
                    max-width: 300px;
                }
            }
        }
        
        .about-back-img{
            position: absolute;
            z-index: -1;
            right: 0;
            top: 43px;

            img{
              
                max-height: 45vh;
                @media #{$xs}{
                    display: hidden;
                }
            }
            @media #{$md}{
                right: 147px;
            }
            @media #{$tablet_device} {
              max-height: 300px;
              right: 100px;
            } 
            @media #{$xs}{
                display: none;
            }
        }
    }
}
.about-caption{
    @media #{$xs}{
        margin-bottom: 35px;
    }
	
}



