.card-large {
  position: relative;
  z-index: 0;

  & h2 {
    font-size: 35px;
  }
  
  & span {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 22px;
		color:#292c37;
		display: inline-block;
		position: relative;
		letter-spacing: 0.05em;
		@media #{$xs}{
			font-size: 14px;
			padding-left: 60px;
    }
  }

  .checkMark {
    &::before{
      position: absolute;
      content: "\2713";
      background: $theme-color2;
      color: $off-white;
      border-radius: 50%;
      padding: 8px 14px;
      left: -55px;
      top: 15px;
      transform: translateY(-50%);
    
      @media #{$xs}{
        left: 0;
      }
    }
  }

  .bullets {
  
    &--1 {
      &::before{
        position: absolute;
        content: "\0031";
        background: $theme-color2;
        color: $off-white;
        border-radius: 50%;
        padding: 1px 15px;
        font-size: 25px;
        left: -55px;
        top: 15px;
        transform: translateY(-50%);
      
        @media #{$xs}{
          left: 0;
        }
      }
    }
    &--2 {
      &::before{
        position: absolute;
        content: "\0032";
        background: $theme-color2;
        color: $off-white;
        border-radius: 50%;
       padding: 1px 12px;
        font-size: 25px;
        left: -55px;
        top: 15px;
        transform: translateY(-50%);
      
        @media #{$xs}{
          left: 0;
        }
      }
    }
    &--3 {
      &::before{
        position: absolute;
        content: "\0033";
        background: $theme-color2;
        color: $off-white;
        border-radius: 50%;
       padding: 1px 12px;
        font-size: 25px;
        left: -55px;
        top: 15px;
        transform: translateY(-50%);
      
        @media #{$xs}{
          left: 0;
        }
      }
    }
    &--4 {
      &::before{
        position: absolute;
        content: "\0034";
        background: $theme-color2;
        color: $off-white;
        border-radius: 50%;
      padding: 1px 12px;
        font-size: 25px;
        left: -55px;
        top: 15px;
        transform: translateY(-50%);
      
        @media #{$xs}{
          left: 0;
        }
      }
    }
  }
  
  .card-bg{
      background-image: linear-gradient(
        to right bottom,
        rgba($theme-color, 0.8),
        rgba($theme-color2, 0.8)
      ),
      url(../img/gallery/geo4.jpg);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: '';
      height: 600px;
      background-repeat: no-repeat;

      &__graphic {
        background-image: linear-gradient(
          to right bottom,
          rgba($theme-color, 0.8),
          rgba($theme-color2, 0.8)
        ),
        url(../img/gallery/happy-sales.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
   
      }
 
  }
  @media #{$md}{
      padding-top: 100px;
      padding-bottom: 100px;
  }
  @media #{$sm}{
      padding-top: 70px;
      padding-bottom: 70px;
  }
  @media #{$xs}{
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .card-caption{
      background: linear-gradient(
        to bottom,
        rgba(white, 0.85),
        rgba($white, 0.85)
      );
      box-shadow: 4px 4px 8px;
      color: $theme-color;
      border-radius: 7px;
      border: 1px solid $white;
      margin-top: -20px;
      padding: 15px 20px 50px 20px;

      @include transition(.5s);
      @media #{$lg}{
          // padding: 84px 25px 56px;
      }
      .card-icon{
          display: inline-block;
          position: relative;
          i{
              color: #000;
              display: block;
              font-size: 50px;
              text-align: center;
              margin-bottom: 42px;
              @include transition(.5s);
          }
      }
      .card-cap{
          h4{
              a{
                  font-size: 20px;
                  font-weight: 600;
                  line-height: 1.2;
                  margin-bottom: 27px;
                  display: inline-block;
                  text-transform: uppercase;
                  color: #15181d;
                  &:hover{
                      color:$theme-color;
                  }
              }
          }
          p{
              color: #717081;
              font-size: 15px;
          }
      }
  }
}
// hover
.card-caption:hover {
  color: $theme-color;
  box-shadow: 8px 8px 15px;
  transform: translateY(-15px);
  background-color: #fff;
  border: 1px solid $theme-color2;
    .card-icon {
        i{
          
        }
    }
}


