.experience-area{
    margin-top: 50px;
    background-image: linear-gradient(
      to right bottom,
      rgba($dark-gray, 0.8),
      rgba($black, 0.8)
    ),
    url(../img/gallery/training.jpg);
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    @media #{$md}{
        margin-top: -276px;
    }
    @media #{$sm}{
        margin-top: -249px;
        height: 800px;
    }
    @media #{$xs}{
        margin-top: -363px;
    }
    .caption-overlay{
        position: absolute;
        content: "";
     
        width: 55%;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: -1000;
        border-radius: 10px;
        background-repeat: no-repeat;
        @media #{$md}{
            width: 85%;
        }
        @media #{$sm}{
            width: 100%;
        }
        @media #{$xs}{
            width: 100%;
            height: 56%;
        }
    }
    .experience-caption{
        padding-top: 120px;
        padding-bottom: 120px;
        padding: 120px 100px;
        background-color: rgba(32,98,0,0.802);
        position: relative;
        z-index: 1;
        h2 {
            color: #fff;
            font-size: 50px;
            display: block;
            font-weight: 800;
            margin-bottom: 30px;
            @media #{$sm}{
                font-size: 31px;
            }
            @media #{$xs}{
                font-size: 27px;
            }
        }
        p{
            color: #fff;
            margin-bottom: 47px;
        }
    }
}

.experience-testimonial {
  padding: 100px 0px;
  .testimonial-caption{
    .testimonial-top-cap{
        img{
            margin-bottom: 50px;
            width: auto;
            display: inline-block;
            @media #{$md}{
                margin-bottom: 30px;
            }
            @media #{$xs}{
                margin-bottom: 30px;
            }
        }
        p{
            line-height: 1.7;
            margin-bottom: 50px;
            font-size: 16px;
            color: #d3d3d4;
            font-weight: 3000;
            @media #{$lg}{
                font-size: 20px;
            }
            @media #{$md}{
                font-size: 20px;
                padding-right: 0px;
            }
            @media #{$md}{
                font-size: 18px;
                padding-right: 0px;
                margin-bottom: 60px;
            }
            @media #{$sm}{
                font-size: 18px;
                padding-right: 0px;
                margin-bottom: 60px;
            }
            @media #{$xs}{
                font-size: 15px;
                padding-right: 0px;
                margin-bottom: 60px;
            }
        }
    }
    .testimonial-founder{
        .founder-img{

        }
        .founder-text{
            margin-left: 20px;
            span{
                color:$theme-color;
                font-size: 20px;
                font-weight: 600;
                color: $theme-color;
                @media #{$xs}{
                    font-size:17px;
                }
            }
            p{
                color: #707b8e;
                font-weight:500;
                line-height:1.5 ;
                font-size: 14px;
            }
        }
    }
}
}

