.section-features {
  margin: 75px 0px 25px;
  padding: 10rem 0 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($theme-color2, 0.7), 70%,
      rgba($theme-color, 0.8)
    ),
    url("../img/gallery/geo4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  overflow: hidden;
  
  & > * {
    transform: skewY(7deg);
  }

  & h1 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 35px;
    font-weight: bolder;
    color: $white;
    letter-spacing: 1px;
  }


  @media #{$sm}{
    padding: 8rem 0;
  }
  
}

.feature-box {
  background-color: rgba($white, 0.9);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: all 0.2s;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
  margin: 0 1.5rem;
  min-height: 400px;

  @media #{$md}{
    margin-bottom: 20px;
   }
  @media #{$sm}{
    margin-bottom: 4rem;
  }
  @media #{$xs}{
    margin-bottom: 4rem;
  }

  &:hover {
    transform: scale(1.05) translateY(-1.5rem);
    box-shadow: 0 1.5rem 4rem rgba($black, 0.6);
  }
  &:hover &__icon {
    color: $theme-color2;
  }

  &__icon {
    font-size: 45px;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $theme-color2,
      $theme-color
    );
    color: $theme-color;
    -webkit-background-clip: text;
    background-clip: text;
 
  }

}
