@import 'color';


.hero-employer-height{
    height: 50vh;
    background-size: cover;
    @media #{$md}{
        height: 350px;
    }
    @media #{$sm}{
        height: 260px;
    }
    @media #{$xs}{
        height: 260px;
    }
}
.hero-area-employer {
    background-repeat:no-repeat ;
    background-size: cover;
    background-image: linear-gradient(
      to bottom,
      rgba($theme-color, 0.65) 40%,
      rgba($theme-color2, 0.8)
    ),
    url(../img/gallery/geo4.jpg);
}

//  Transparent Header
.header-transparent {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9;
}

// Another Hero Page
.hero-area-employer{
    .hero-cap{
        h2{
            color: #fff;
            font-size: 50px;
            font-weight: 800;
            text-transform: capitalize;
            line-height: 1;
            @media #{$sm}{
                font-size: 50px;
              }
            @media #{$xs}{
                font-size: 35px;
              }
        }
        h3{
          color: #fff;
          font-size: 25px;
          font-weight: 600;
          text-transform: capitalize;
          line-height: 1;
          margin: 20px 0px 50px 0px;
          @media #{$sm}{
              font-size: 50px;
            }
          @media #{$xs}{
              font-size: 35px;
            }
      }
    }
}
