// 
// project_area 
.project_area{
  padding: 75px 75px;
  margin: 0px 0px 0px 0px;
   background-image: linear-gradient(
     to right bottom,
     rgba($theme-color, 0.8),
     rgba($theme-color2, 0.8)
   ),
   url(../img/gallery/geo4.jpg);
 
   @media #{$mobile_device} {
       padding: 100px 0;
   }
   @media #{$tablet_device} {
       padding: 100px 0;
   }
   .project_info{
 
       h3{
           color: #fff;
           font-size: 36px;
           font-weight: 400;
           line-height: 55px;
       }
       p{
           font-size: 16px;
           color: #fff;
           margin-bottom: 26px;
           margin-top: 8px;    
       }
       .boxed-btn3-white{
           &:hover{
               background: #fff;
               color: #28AE60 !important;
           }
       }
   }
 }