.single-team{
  background-image: linear-gradient(
    to right bottom,
    rgba($off-white, 0.9), 70%,
    rgba($off-white, 0.9)
  );
  padding: 10px 20px 20px 20px;
  box-shadow: rgba(48, 55, 64, 0.15) 2px 2px 3px;
  border-radius: 3px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(48, 55, 64, 0.15) 6px 6px 9px;
    background-image: linear-gradient(
      to right bottom,
      rgba($theme-color2, 0.9),
      rgba($theme-color2, 0.4)
    );

  }
    .team-img{
        overflow: hidden;
        margin-bottom: 19px;
        padding: 40px;
        text-align: center;
    
        img{
            max-width: 70%;
            border-radius: 50%;
            transform:scale(1);
            transition: all 0.6s ease-out 0s;
        }
    }
    .team-caption{
        span{
            color: $dark-gray;
            font-size: 16px;
            font-weight: 500;
            font-family:$font_1;
            display: block;
            position: relative;
            margin-left: 50px;
            margin-bottom: 10px;
            &::before {
                position: absolute;
                content: "";
                width: 35px;
                height: 2px;
                left: -47px;
                top: 50%;
                transform: translateY(-50%);
                background:$theme-color;
            }
        }
        h3{
           a{
            color: $dark-gray;
            font-weight: 600;
            font-size: 35px;
           }
        }
    }
}

.single-team:hover .team-img img {
	transform:scale(1.1);
}