.options-card{
  padding: 20px;
  border-radius: 3px;

  &:hover  {
    background-image: linear-gradient(
        to right bottom,
        rgba($theme-color2, 0.9), 70%,
        rgba($theme-color, 0.9)
      );
  }

  &:hover .options-caption .options-caption__iconContainer .options-caption__iconContainer__icon {
    background-color: transparent !important;
  }

  &:hover .options-caption strong {
    color: $white !important;
  }
  &:hover .options-caption p {
    color: $white !important;
  }

  // &:hover .options-caption__iconContainer__icon {
  //   color: $theme-color2;
  //   background-color: $off-white;
  // }



    .options-caption{
      border-radius: 15px;
      padding: 40px;

    

        & h3{
          color: $dark-gray;
          font-size: 25px;
          text-align: center;
          margin: 10px 0px;
        }
        & p {
          text-align: center;
        }

     

        &__iconContainer {
          text-align: center;
          font-size: 5rem;
          color: $off-white;
         

          &__icon  {
            border-radius: 50%;
            background-color: $theme-color2;
            padding: 20px;
          }
        }
    }
}

.single-options:hover .options-img img {
	transform:scale(1.1);
}